<div class="w-layout-blockcontainer v3--globalheader-container w-container"><div class="v3--globalheader-grid"><div id="w-node-_171a9328-22f0-e9a0-d7a0-9d2b1ff9bb81-b928ee39" class="v3--globalheader-grid-col"><h1 class="v3--globalheader-heading">
{{ section.settings.text_heading }}
</h1>
<div class="v3--globalheader-subheading"> {{ section.settings.richtext_subheading }} </div>
</div></div></div> {% schema %} {"tag":"header","name":"V3 Collection Header","class":"v3--globalheader","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Our collections"},{"id":"richtext_subheading","type":"richtext","label":"Subheading","default":"<p>Explore our collection and discover designs that inspire creativity.<\/p>"}],"presets":[{"name":"V3 Collection Header","category":"Liquify","blocks":[]}]} {% endschema %}