<div class="v3--section-password-container"><div class="v3--section-password-form w-form"><h1 class="v3--section-password-heading">Under Construction</h1>{% form 'storefront_password', class: 'v3--section-password-form-wrapper' %}
<div class="v3--section-password-input-wrapper"><input class="v3--section-password-input w-input" maxlength="256" name="password-2" data-name="Password 2" placeholder="Password" type="password" id="password-2" required="">
</div><input type="submit" data-wait="" class="max-width-full v3--c-button w-button" value="Send">
{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div> {% schema %} {"tag":"section","name":"V3 Password","class":"v3--section-password","presets":[{"name":"V3 Password","category":"Liquify","blocks":[]}]} {% endschema %}