<div class="w-layout-blockcontainer v3--container w-container"><div class="v3--content-wrapper-small"><h1 class="v3--text-body--lg">
{{ section.settings.text_heading }}
</h1>
<p class="v3--text-body v3--text-color-secondary">
{{ section.settings.text_text }}
</p>
<a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="v3--text-body">Back to shop</a></div></div> {% schema %} {"tag":"section","name":"V3 Page Not Found","class":"v3--section-stationery-temp","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Not found"},{"id":"text_text","type":"text","label":"Text","default":"The page you are looking for doesn't exist or has been moved"}],"presets":[{"name":"V3 Page Not Found","category":"Liquify","blocks":[]}]} {% endschema %}